<div class="edit-head">
<h2>You can edit your transaction by either changing the merchant, the value or the category...or all of them</h2>
</div>

<!-- edit form to be here need to add placeholder values of the existing order -->

<div class="edit-form">

<form method="POST" action="/transactions/<%= @transactions.id %>">

  <label for="merchant_name">Merchant Name</label>
  <input type="text" name="merchant_name" id="merchant_name" Value="<%=@transactions.merchant_name%>"/>

  <label for="transaction_value">Value of Transaction (£):</label>
  <input type="number" step="0.01" name="transaction_value" id="transaction_value" value="<%=@transactions.transaction_value %>"/>

  <label for="tag_id">Select transaction type</label>
  <select name="tag_id" id="tag_id">
    <% for tag in @tag %>
    <option value="<%= tag.id %>"><%=tag.tag_name%></option>
    <%end%>
  </select>

  <input type="submit" value="Edit Transaction" />

</form>
</div>
