<p>A list of all transactions logged for your account</p>

<% @transactions.each do |transaction| %>

<p>Merchant Name: <%= transaction.merchant_name()%></p>
<p>Transaction Value: <%= transaction.transaction_value()%></p>

<% @tags.each do |tag| %>
<p>Transaction Type: <%= tag.tag_name %></p>

<% end %>
<p><a href="/transactions/<%= transaction.id %>">Show Transaction</a></p>
<% end %>
<p>Total Amount of Transactions: <%= @value%></p>
